<?php 

ini_set("display_errors", "1");

$mysqli = new mysqli("localhost", "db_user", "dbpassword", "db_name");

define('AC_API_DOMAIN', 'https://xxxxxxxxxxxxxxxxxxx.com'); //URL de la API de Active Campaign
define('AC_API_TOKEN', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'); //Token de la API de Active Campaign
define('AC_API_LIMIT', 30);

include_once("./lib/curl.php");

?>
