<?php 

define('AC_API_DOMAIN', 'https://xxxxxxxxxxxxxxxxxxx.com'); //URL de la API de Active Campaign
define('AC_API_TOKEN', 'xxxxxxxxxxxxxxxxxxxxxxxxxxxxxx'); //Token de la API de Active Campaign
define('AC_API_LIMIT', 20);

$allowed_segments = array ("2NewsletterADI-castellano", "2Newsletter-ADI-euskera", "2Newsletter-SPRI-castellano", "2Newsletter-SPRI-euskera", "Newsletter-UPEUSKADI");

include_once("./lib/curl.php");

?>